{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">About Us</h2>
                    <p class="card-text">This Website shows the information of the student in Eulogio "Amang" Rodriguez Institute Science and Technology.</p>
                    <p class="card-text">S.Y 2023 - 2024</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
