{% extends 'base.html' %}
{% block content %}
<style>


    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
    }

    .login-card {
        width: 100%;
        max-width: 400px;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .login-card .card-body {
        padding: 2rem;
    }

    .login-card .form-group label {
        font-weight: bold;
    }

    .login-card .btn-primary {
        width: 100%;
    }

    .login-card h1 {
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .signup {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.signup span {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.signup a {
    color: #F5F7F8;
    text-decoration: none;
}

.signup a:hover {
    color: #e89815;
}

    .forgot-password{
    padding-left: 2rem;
    }

    .forgot-password a:hover{
     color: #e89815;
    }
</style>

<div class="login-container">
    <div class="login-card card">
        <div class="card-body">
            <!-- Flash messages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}

                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <h1>Login</h1>
            <form method="POST">
                <div class="form-group mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
               <div class="form-group mb-3">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                <div class="password-options">
                      <input type="checkbox" onclick="togglePassword()"> <span>Show Password</span>
                      <a href="{{ url_for('reset_request') }}" class="forgot-password">Forgot Password?</a>

                      </div>
            </div>


                <button type="submit" class="btn btn-primary">Login</button>

                 <div class="signup">
                    <span>Don't have an account?<a href=""> Sign Up</a></span>
                </div>
            </form>
        </div>
    </div>
</div>

    <script>
    function togglePassword() {
        var x = document.getElementById("password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
{% endblock %}